.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.page_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.page_header h1 {
  margin: 1rem;
}

.page_header p {
  margin: 0.25rem;
}

.backbtn {
  position: absolute;
  left: 0;
  padding-left: 2rem;
}